<!doctype html>
<html>
   <body>
<title> Page d'accès à la configuration de démarrage programmé des instances AWS Fab Big data </title>

<header>
 <h3>Page d'accès à la configuration du démarrage programmé des instances AWS Fab Big data</h3>
</header>
   
<p> Cliquer ici pour voir le <a href="/status" target="_blank">log</a> complete </p>

<p> Cliquer ici pour voir la <a href="/conf" target="_blank">configuration</a> des instances déclarées </p>

<p> Cliquer ici pour voir les instances <a href="/ignore" target="_blank">ignorées</a> </p>
      
   </body>
</html>